.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    
  }
  
  .textContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    position: relative;
    height: 100vh; /* Ensure it takes up full height */
  }
  
  /* .head {
    position: absolute; 
    top: 0px;
    width: 100%;
    font-size: 72px;
    font-weight: bold;
  }
  
  .text1 {
    position: absolute;
    bottom: 110px;
    width: 100%;
    font-size: 32px;
  }
  
  .text2 {
    position: absolute;
    bottom: 55px;
    width: 100%;
    font-size: 32px;
  }
  
  .text3 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 32px;
  } */

  .theory {
    position: absolute; /* Change from absolute */
    top: 320px;
  }
  
  .p {
    position: absolute; /* Change from absolute */
    bottom: 250px;
  }