.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    
  }
  
  .textContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    position: relative;
    height: 100vh; /* Ensure it takes up full height */
  }

  .theory {
    position: absolute; /* Change from absolute */
    top: 320px;
  }
  
  .p {
    position: absolute; /* Change from absolute */
    bottom: 250px;
  }

  .sp {
    display: none;
  }

  @media (max-width: 768px) {
    .sp {
      display: block;
      position: absolute; 
      top: 60vh;
    }

    .p {
      display: none;
    }

    .theory{
      top: 20vh;
      position: absolute;
    }
  }